html,body {
    width: 100%;
    height: 100%;
    margin: 0;
}
#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
}
#map {
    flex: 1 1 0;
    border: 1px solid black;
    margin: 5px;
    min-height: 0;
}
#btn {
    flex: 0 0 30px;
    margin: 0 5px 5px 5px;
}